.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #FFF;
  border-bottom: 1px solid #ddd;
  position: fixed; /* Hace que el header sea fijo */
  top: 0; /* Se coloca en la parte superior */
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra para mejor visualización */
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 10px;
}

.tagline {
  font-size: 20px;
  color: #4a4a4a;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  font-size: 16px !important;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}

.nav-links .active {
  color: #00bcd4;
  font-weight: bold;
}

.virtual-store {
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
}

.virtual-store:hover {
  background-color: #333;
  color: white;
}

body {
  padding-top: 80px; /* Ajusta el espacio para evitar que el contenido quede oculto detrás del header fijo */
}

  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 60px;
    margin-right: 10px;
  }
  
  .tagline {
    font-size: 20px;
    color: #4a4a4a;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
  
  .nav-links .active {
    color: #00bcd4;
    font-weight: bold;
  }
  
  .virtual-store {
    background-color: transparent;
    border: 1px solid #333;
    color: #333;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .virtual-store:hover {
    background-color: #333;
    color: white;
  }
  